<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- JQuery 3.x -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<!-- fixes to css issues -->
<style>
.row {
	margin-left: 0;
	margin-right: 0;
}

body {
	font-size: 2rem;
}

td {
	padding: 5px;
    border: 1px solid grey;
}
</style>

<title>Testing</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

	<div class="container main">
		<h1 style="text-decoration:underline;">Nationbuilder People Test App</h1>
		<div id="content" class="row">
			<hr>
			<p>Success!</p>
			<hr>
			<p>All People in Nation:</p>
			<table>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th> 
					<th>Email</th>
					<th>Nationbuilder ID</th>
					<th>Zip Code</th>
				</tr>
				{% for person in data %}
					<tr>
						<td>{{ person.first_name }}</td>
						<td>{{ person.last_name }}</td>
						<td>{{ person.email }}</td>
						<td>{{ person.id }}</td>
						<td>{{ person.primary_address.zip }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<a href="/">Home</a><br>
		<a href="/people/count">People Count</a><br>
		<a href="/people/list">People List</a><br>
	</div>
</body>
</html>